
body {
    font-family: Arial, sans-serif;    
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

body p {
    font-family: Arial, sans-serif;        
    color: #333;
}

header {
    background-color: #00004c; /* fundo dourado */
    color: #4b0303; 
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
     color: #ffffff; /* cor botão */
     text-decoration: none;
}


main {
    padding: 2rem;
}

#posts {
    max-width: 800px;
    margin: 0 auto;
}

article {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    margin-top: 0;
}

.affiliate-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #00004c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: #DCDCDC;
    bottom: 0;  
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 12px;
    font-weight: bold;
}

.logo-topo {
    width: 100%;
    max-width: 200px;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}
